<div *ngIf="!isMini" class="card" [class.dark]="isNightTime">
  <div
    class="card__icon"
    [ngStyle]="{
      'background-image': backgroundImagePath
    }"
  ></div>
  <div class="card__left">
    <p>{{ title }}</p>
    <p class="card__left__more">umeazeala: {{ additional.umezeala }}</p>
    <p class="card__left__more">vant: {{ additional.vant }}</p>
  </div>
  <div class="card__right">
    <p>{{ text }}&deg;</p>
  </div>
</div>

<div
  *ngIf="isMini"
  class="card__mini"
  [class.dark]="isNightTime"
  [ngStyle]="{
    'background-image': backgroundImagePath
  }"
>
  <div class="card__mini__top">
    <p>{{ text }}&deg;</p>
  </div>
  <div class="card__mini__bottom">
    <p>{{ title }}</p>
    <p class="card__mini__top__county">{{ county }}</p>
  </div>
</div>
