@use "../../../../../styles.scss" as vars;

.card {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fefefe;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 35px;
  color: #fff;
  box-shadow: 2px 2px 5px #7c7c7c27;

  @media only screen and (max-width: 1000px) {
    align-items: flex-start;
    padding: 15px 25px;
  }
  font-weight: vars.$font-weight-normal;
  font-size: vars.$font-size-large;
  &__right {
    font-size: vars.$font-size-extra-large;
  }
  &__left {
    text-transform: capitalize;
    @media only screen and (max-width: 1000px) {
      font-size: vars.$font-size-medium;
    }
    &__more {
      font-size: vars.$font-size-small;
      color: #ffffffa2;
      text-transform: lowercase;
      @media only screen and (max-width: 600px) {
        font-size: vars.$font-size-small-mobile;
      }
    }
  }
  &__mini {
    width: 120px;
    height: 100px;
    border: 1px solid #fefefe;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    color: #fff;
    box-shadow: 2px 2px 5px #7c7c7c27;
    @media only screen and (max-width: 600px) {
      width: 70px;
      height: 70px;
      padding: 12px;
      align-items: center;
    }

    font-weight: vars.$font-weight-normal;
    font-size: vars.$font-size-large;
    &__top {
      font-size: vars.$font-size-extra-large;
      @media only screen and (max-width: 1000px) {
        font-size: vars.$font-size-title;
      }
      &__county {
        color: vars.$primary-color;
        font-size: vars.$font-size-extra-small;
        text-transform: capitalize;
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media only screen and (max-width: 600px) {
          width: 60px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    &__bottom {
      font-size: vars.$font-size-extra-small;
      color: #ffffffd1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media only screen and (max-width: 1000px) {
        font-size: vars.$font-size-small-mobile;
        width: 75px;
      }
    }
  }
}
p {
  margin: 0;
}
