<div class="container">
  <div class="container__column">
    <p class="container__column__title">Informații</p>
    <div>
      <h3 class="container__column__subtitle">Alerte Meteo</h3>
      <p class="container__column__content">
        Informațiile furnizate de avertizari-meteo.ro au ca sursă principală
        Administrația Natională de Meteorologie, respectiv website-ul
        meteoromania.ro care oferă access la alerte sau informări meteorologice
        în mod public prin intermediul unor interfete de tip APIs sau de tip
        XML.
      </p>
    </div>
  </div>
</div>
