<div class="container">
  <div class="container__weather">
    <p class="container__weather__title">Vremea în {{ selectedCity }}</p>
    <div class="container__weather__forecasts">
      <app-card
        *ngIf="weatherForecast$ | async as weatherForecast"
        [county]="weatherForecast.oras"
        [title]="weatherForecast.nebulozitate"
        [text]="weatherForecast.temperatura"
        [background]="'../../../../assets/img/card-bg.jpg'"
        [additional]="{
          umezeala: weatherForecast.umezeala,
          vant: weatherForecast.vant
        }"
      ></app-card>
    </div>
  </div>
  <div
    class="container__nowcast"
    *ngIf="nowcastAlerts$ | async as nowcastAlerts"
  >
    <p class="container__nowcast__title">Alerte active în România</p>
    <app-alert-section
      *ngIf="nowcastAlerts.length > 0"
      [alerts]="nowcastAlerts"
    ></app-alert-section>
    <app-no-data-card
      *ngIf="nowcastAlerts.length === 0"
      [text]="'In ultima ora'"
      [title]="'Nu există alerte emise'"
    ></app-no-data-card>
    <div class="container__nowcast__link">
      <a *ngIf="nowcastAlerts.length > 0" [routerLink]="['/avertizari-meteo']"
        >vezi avertizări în <b>județul tău</b>
      </a>
    </div>
  </div>
</div>
