@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

$primary-color: #2f1f88;
$secondary-color: #2e8498;
$secondary-color-light: #7bb4c4;
$secondary-color-bg: #d8e8ed;
$accent-color: #e8d5b5;

$border-color: #efefef;
