@use "../../../../styles.scss" as vars;
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10%;
  min-height: 100vh;
  &__column {
    width: 45%;
    &__weather {
      width: 100%;
      cursor: default;
      &__title {
        color: vars.$primary-color;
        font-weight: vars.$font-weight-normal;
        font-size: vars.$font-size-title;
        margin-bottom: 18px;
      }

      &__forecasts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__link {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          a {
            color: vars.$primary-color;
            font-size: vars.$font-size-small;
            text-align: right;
            padding-top: 10px;
          }
        }
      }
    }
    &__general {
      cursor: default;
      width: 100%;
      &__link {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        a {
          color: vars.$primary-color;
          font-size: vars.$font-size-small;
          text-align: right;
        }
      }

      &__title {
        color: vars.$primary-color;
        font-weight: vars.$font-weight-normal;
        font-size: vars.$font-size-title;
        margin-bottom: 18px;
      }
      * {
        width: 100%;
      }
    }
  }

  &__nowcast {
    flex-wrap: wrap;
    width: 45%;
    cursor: default;

    &__link {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      a {
        color: vars.$primary-color;
        font-size: vars.$font-size-small;
        text-align: right;
      }
    }

    &__title {
      color: vars.$primary-color;
      font-weight: vars.$font-weight-normal;
      font-size: vars.$font-size-title;
      margin-bottom: 18px;
    }
    * {
      width: 100%;
    }
  }
}
