@use "../../../../styles.scss" as vars;
.container {
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  width: 100%;

  &__weather {
    width: 45%;
    margin: 20px 0;
    cursor: default;
    &__title {
      color: vars.$primary-color;
      font-weight: vars.$font-weight-normal;
      font-size: vars.$font-size-title;
      margin-bottom: 12px;
    }

    &__forecasts {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &__link {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        a {
          color: vars.$primary-color;
          font-size: vars.$font-size-small;
          text-align: right;
          padding-top: 10px;
        }
      }
    }
  }
  &__nowcast {
    flex-wrap: wrap;
    width: 45%;
    margin: 20px 0;
    cursor: default;

    &__link {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      a {
        color: vars.$primary-color;
        font-size: vars.$font-size-small;
        text-align: right;
      }
    }

    &__title {
      color: vars.$primary-color;
      font-weight: vars.$font-weight-normal;
      font-size: vars.$font-size-title;
      margin-bottom: 12px;
    }
    * {
      width: 100%;
    }
  }
}
