<div class="container" *ngIf="sign$ | async as sign">
  <div class="container__title">
    <p class="container__title__title">Horoscop {{ sign.sign }}</p>
    <p class="container__title__subtitle">astăzi, {{ sign.date }}</p>
  </div>
  <div class="container__horoscope">
    <div class="container__horoscope__sign">
      <div class="container__horoscope__sign__bg">
        <div
          class="sign"
          [ngStyle]="{
            'background-image':
              'url(' +
              '../../../../../../assets/img/horoscope/' +
              pngSign +
              '.png)'
          }"
        ></div>
      </div>
    </div>
    <p class="container__horoscope__text">{{ sign.ro_data }}</p>
  </div>
</div>
