@use "../../../../../styles.scss" as vars;

.sidenav {
  width: 80px;
  background-color: vars.$primary-color;
  transition: 0.5s;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__expanded {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 250px;
    padding: 0 10px;

    &__link {
      text-align: left;
    }
    &__button {
      margin-top: 40px;
      padding-right: 30px;
      width: 100%;
      cursor: pointer;
      background-color: transparent;
      border: none;
      text-align: right;
      img {
        width: 25px;
      }
    }
    &__bottom {
      width: 100%;
      margin-top: 15em;
    }
  }

  &__content {
    &__logo {
      display: block;
      width: 60px;
      margin: auto;

      &__expanded {
        display: block;
        width: 200px;
      }
    }
    &__button {
      margin-top: 40px;
      display: block;
      cursor: pointer;
      background-color: transparent;
      border: none;

      * {
        width: 25px;
        height: 25px;
        text-align: center;
      }
    }
    &__link {
      text-decoration: none;
      font-size: vars.$font-size-small;
      color: #fff;
      transition: 0.3s;
      text-align: center;
      span {
        margin-left: 12px;
      }
    }
    &__bottom {
      margin-top: 15em;
    }
  }
}

.sidenav a {
  padding: 15px;
  text-decoration: none;
  font-size: vars.$font-size-small;
  color: #fff;
  display: block;
  transition: 0.3s;
  span {
    margin-left: 12px;
  }
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
