<div class="app__header">
  <div class="app__header__select">
    <p *ngIf="hasSelect">Selecteaza oras</p>
    <div *ngIf="hasSelect" class="app__header__select__input">
      <select
        #counties
        (change)="handleSelectedCounty(counties.value)"
        [value]="handleCustomValue(temperatureWidget?.city ?? '')"
      >
        <option *ngFor="let city of cities" value="{{ city }}">
          {{ city }}
        </option>
      </select>
    </div>
  </div>
  <div>
    <div class="app__header__inline">
      <div class="app__header__icon">
        <img src="../../../../../assets/img/header-icon-cloud.png" />
        <div class="app__header__inline__widget">
          <span *ngIf="temperatureWidget" class="app__header__inline__bold"
            >{{ temperatureWidget.temp }}&deg;C
          </span>
          <span *ngIf="temperatureWidget" class="app__header__inline__text">
            acum in {{ temperatureWidget.city }}
          </span>
        </div>
      </div>

      <!--WIP-->
      <!-- <div class="flex">
        <button
          class="app__header__inline__button"
          (click)="handleTranslate('ro')"
        >
          RO
        </button>
        /
        <button
          class="app__header__inline__button"
          (click)="handleTranslate('en')"
        >
          EN
        </button>
      </div> -->
    </div>
  </div>
</div>
