<ng-template #loading><app-loader></app-loader></ng-template>
<div class="container">
  <div class="container__weather">
    <p class="container__weather__title">Vremea în {{ displayedCity }}</p>
    <p class="container__weather__subtitle" *ngIf="currentDate">
      astăzi, {{ currentDate }}
    </p>

    <div class="container__weather__forecasts">
      <app-card
        *ngIf="weatherForecast$ | async as weatherForecast; else loading"
        [county]="weatherForecast.oras"
        [title]="weatherForecast.nebulozitate"
        [text]="weatherForecast.temperatura"
        [backgroundImage]="weatherForecast.img"
        [additional]="{
          umezeala: weatherForecast.umezeala,
          vant: weatherForecast.vant
        }"
      ></app-card>
    </div>
  </div>
  <div class="container__nowcast">
    <p class="container__nowcast__title">Avertizări în {{ displayedCity }}</p>
    <div *ngIf="nowcastAlerts$ | async as nowcastAlerts; else loading">
      <div *ngIf="generalAlerts$ | async as generalAlerts">
        <div *ngIf="nowcastAlerts.length > 0">
          <app-alert-section [alerts]="nowcastAlerts"></app-alert-section>
        </div>
        <div *ngIf="generalAlerts.length > 0">
          <app-alert-section [alerts]="generalAlerts"></app-alert-section>
        </div>
        <app-no-data-card
          *ngIf="nowcastAlerts.length === 0 && generalAlerts.length === 0"
          [text]="'În ultima oră'"
          [title]="'Nu există avertizări emise'"
        ></app-no-data-card>
        <div class="container__nowcast__link">
          <a
            *ngIf="nowcastAlerts.length > 0 && generalAlerts.length > 0"
            [routerLink]="['/avertizari-meteo']"
            >vezi avertizări în <b>județul tău</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
