<div class="app">
  <app-side-menu
    class="app__side__menu"
    (sideMenuStateChanged)="handleSideMenuState($event)"
  ></app-side-menu>
  <div class="app__content" [ngClass]="this.sideMenuState">
    <app-header
      class="app__content__header"
      [hasSelect]="headerHasSelect"
      [temperatureWidget]="(selectedCityWeather$ | async)!"
      (selectedCity)="handleSelectedCity($event)"
    ></app-header>
    <div class="app__content__body">
      <router-outlet></router-outlet
    </div>
  </div>
</div>
