@use "../styles.scss" as vars;
.app {
  height: 100%;

  &__side__menu {
    height: 100%;
    position: fixed;
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &__header {
      width: 100%;
      padding: 0;
      position: sticky;
      top: 0;
      background-color: vars.$bg-00;
    }
    &__body {
      padding: 0 35px;
      background-image: url("../assets/img/app-background.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;

      @media only screen and (max-width: 600px) {
        padding: 0 5px;
      }
    }
  }
}
.extended {
  margin-left: 18%;
  @media only screen and (min-width: 1630px) {
    margin-left: 17%;
  }
  @media only screen and (min-width: 1800px) {
    margin-left: 12%;
  }
  @media only screen and (min-width: 2300px) {
    margin-left: 10%;
  }
}
.unextended {
  margin-left: 80px;
  @media only screen and (max-width: 600px) {
    margin-left: 55px;
  }
}
