.app {
  height: 100%;

  &__side__menu {
    height: 100%;
    position: fixed;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
      width: 100%;
      padding: 0;
    }
    &__body {
      padding: 0 35px;
      background-image: url("../assets/img/app-background.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
.extended {
  margin-left: 18%;
}
.unextended {
  margin-left: 5%;
}
